{{ define "home" }}
{{ template "head" }}
<fieldset>
  <legend>Form</legend>
  <form action="/process_urls" method="POST">
    <label for="url[0]">Url 1</label>
    <input type="text" name="url[0]" id="url[0]" placeholder="http://av.com">
    <br />
    <label for="url[1]">Url 2</label>
    <input type="text" name="url[1]" id="url[1]" placeholder="http://bit.ly">
    <br />
    <label for="url[2]">Url 3</label>
    <input type="text" name="url[2]" id="url[2]" placeholder="http://migre.me">
    <br />
    <button type="submit" class="btn btn-lg btn-default">Submit</button>
  </form>
</fieldset>
{{ template "footer" }}
{{ end }}
